@font-face {
  font-family: fuente-gc;
  src: url(../public/assets/fonts/ethnocentric.rg-regular.otf);
}

*{
  margin: 0;
  padding: 0;
  font-family: fuente-gc;
}

a{
  color: black;
  text-decoration: none;
}

h2{
  font-size: small;
}